.subgroup
  %br
  = 'Группа ' + s.object.jet.group.name
  %br
  = s.radio_button :number, 0
  = 'Без подгрупп'
  %br
  = s.radio_button :number, 1
  = 'Первая подгруппа'
  %br
  = s.radio_button :number, 2
  = 'Вторая подгруппа'
