jQuery(document).ready(function($){
    $('#error').replaceWith('<div id="error"></div>');
    $('#pair_edit_<%= @pair.id %>').remove();
    $('body').prepend('<%= escape_javascript render :partial => 'pair_edit' %>');
    $('#flash').replaceWith('<div id="flash"></div>');
    var dlg = $('#pair_edit_<%= @pair.id %>').dialog({
        beforeClose: function(event, ui) {
            $('#pair_edit_<%= @pair.id %>').remove();
        },
        closeText: 'Закрыть',
        draggable: false,
        modal: true,
        position: 'top',
        show: 'clip',
        hide: 'clip',
        title: 'Редактировать пару'
    });
    
    $('.edit_pair').submit(function() {
        dlg.dialog("close");
        return false;
    });
    
    $('.charge_card').autocomplete({
        disabled: false,
        minLength: 2,
        source: function(request, response) {
            $.getJSON('/editor/charge_cards.json', {
              charge_card: request.term
            },
            function(data) {
                var charge_cards = new Array(0);
                data.each(function(i) {
                    charge_cards.push({ label: i.charge_card.name_for_pair_edit, value: i.charge_card.id });
                });
                response(charge_cards);
            });
        },
        select: function(event, ui) {
            $('#pair_charge_card_id').val(ui.item.value);
            $('#charge_card_name').val(ui.item.label);
            $.post($('#edit_pair_<%= @pair.id %>').attr('action'),
                $('#edit_pair_<%= @pair.id %>').serialize() + '&get_subgroups=true',
                null, "script");
            return false;
        }
    });
    
    $('.charge_card').focus(function() {
        $('.charge_card').val('');
    });
    
    var months = [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сентябрь',
        'Октябрь',
        'Ноябрь',
        'Декабрь'];
    $('#pair_active_at').datepicker({
        firstDay: 1,
        dateFormat: 'dd.mm.yy',
        monthNames: months,
        showOn: 'button',
        buttonImage: '/images/calendar.gif',
        buttonImageOnly: true
    });
    $('#pair_expired_at').datepicker({
        firstDay: 1,
        dateFormat: 'dd.mm.yy',
        monthNames: months,
        showOn: 'button',
        buttonImage: '/images/calendar.gif',
        buttonImageOnly: true
    });
    
});
