.pair{:id => "#{pair.id}"}
  .delete
    = link_to image_tag('show_12.png'), pair_path(pair.id), :method => :get, :class => 'lbOn'
    = link_to image_tag('edit_12.png'), edit_from_classrooms_pair_path(pair.id), :class => 'lbOn'
    = link_to_remote image_tag('delete_12.png'), :url => pair_path(pair.id), :method => :delete
= draggable_element "#{pair.id}"