.update_form{:id => "update_pair_#{@pair.id.to_s}"}
  - if flash[:error]
    .flash
      = flash[:error]
  - remote_form_for(@pair) do |f|
    %p{:id => "charge_card_block"}
      = 'Карта нагрузки'
      %br
      %input{:id => "charge_card", :size => 20, :value => "#{@pair.charge_card.name_for_pair_edit if @pair.charge_card}"}
    .subgroups
      - @pair.subgroups.each do |subgroup|
        - fields_for :subgroups, subgroup, :index => subgroup.id do |s|
          .subgroup
            %br
            = subgroup.group.name
            = render 'subgroup', :f => s
    %p
      = f.submit 'Сохранить'