<div class="alldiv" id="classroom<%=h sheet.id %>" style="display: none">
  <div class="classdiv_top">
    <div id="text">
      Аудитория <%=h sheet.name %> (<%=h sheet.building.name %>)
    </div>
    <div id="sheet_closebutton">
      <%= link_to_remote(image_tag('close_16.ico'),
        :url => delete_classroom_pairs_path(:id => sheet.id)) %>
    </div>
  </div>
  <div class="classdiv_bottom">
    <div class="sheetdiv" id="week1">
      <table class="week" id="1">
      <tr>
         <th>Неделя 1</th>
       </tr>
       <%= render :partial => 'sheetweek', :collection => @days, :locals => {:week => 1} %>
      </table>
    </div>
    <div class="sheetdiv" id="week2">
     <table class="week" id="2">
        <tr>
         <th>Неделя 2</th>
        </tr>
        <%= render :partial => 'sheetweek', :collection => @days, :locals => {:week => 2} %>
     </table>
    </div>
  </div>
</div>
