<tr>
  <td class="time" id="week<%= week %> _day<%= sheetweek_counter + 1 %>_time1"></td>
</tr>
<tr>
  <td class="time" id="week<%= week %>_day<%= sheetweek_counter + 1 %>_time2"></td>
</tr>
<tr>
  <td class="time" id="week<%= week %>_day<%= sheetweek_counter + 1 %>_time3"></td>
</tr>
<tr>
  <td class="time" id="week<%= week %>_day<%= sheetweek_counter + 1 %>_time4"></td>
</tr>
<tr>
  <td class="time" id="week<%= week %>_day<%= sheetweek_counter + 1 %>_time5"></td>
</tr>
<tr>
  <td class="time" id="week<%= week %>_day<%= sheetweek_counter + 1 %>_time6"></td>
</tr>
<tr>
  <td class="time" id="week<%= week %>_day<%= sheetweek_counter + 1 %>_time7"></td>
</tr>
