<div class="sheetdiv" id="week1_classroom<%=h sheet.id %>">
  <table class="week" id="1">
    <tr>
      <th><%=h sheet.id %>Неделя 1</th>
    </tr>
    <%= render :partial => 'sheetweek', :collection => @days, :locals => {:week => 1} %>
  </table>
</div>
<div class="sheetdiv" id="week2_classroom<%=h sheet.id %>">
  <table class="week" id="2">
    <tr>
      <th>Неделя 2</th>
    </tr>
    <%= render :partial => 'sheetweek', :collection => @days, :locals => {:week => 2} %>
  </table>
</div>
