.subgroup
  %br
  = subgroup.group.name
  %br
  = radio_button_tag subgroup.group.id, "0", true
  = 'Без подгрупп'
  %br
  = radio_button_tag subgroup.group.id, "1"
  = 'Первая подгруппа'
  %br
  = radio_button_tag subgroup.group.id, "2"
  = 'Вторая подгруппа'
