<tr>
  <td rowspan=7 class="day" id="<%= week_counter + 1 %>"> <%=h week %></td>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time1">08:15 - 09:45</td>
</tr>
<tr>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time2">09:55 - 11:25</td>
</tr>
<tr>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time3">11:35 - 13:05</td>
</tr>
<tr>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time4">14:00 - 15:30</td>
</tr>
<tr>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time5">15:40 - 17:10</td>
</tr>
<tr>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time6">17:20 - 18:50</td>
</tr>
<tr>
  <td class="time" id="schedule_day<%= week_counter + 1 %>_time7">19:00 - 20:30</td>
</tr>