- form_for :pair, @pair, :html => {:method => :put} do |f|
  = f.error_messages
  = f.label :lecturer, 'Лектор'
  = f.text_field :lecturer
  %br
  = f.submit 'Сохранить'
  = link_to "Отмена", "#", :class => "lbAction", :rel => "deactivate"