<div class="timesheet">
  <div class="timediv">
    <table class="timetable">
      <tr>
        <th colspan=2 >Время</th>
      </tr>
      <%= render :partial => 'week', :collection => @days %>
    </table>
  </div>
  <div id="plus">
    <% remote_form_for :pairs, :url => add_classroom_pairs_path do |f| %>
      <%= label_tag 'building', 'Корпус' %>
      <%= select_tag 'building',
      options_for_select(@buildings.map {|b| [b.name, b.id]}) %>
      <%= observe_field :building,
      :url => update_classrooms_pairs_path,
      :with => 'building' %>
      <div id="classroom"></div>
      <%=  submit_tag 'Добавить аудиторию' %>
    <% end %>
  </div>
</div>