.grid{:id => "grid_#{h(grid.id)}"}
  %table
    %tr
      %th{:colspan => 13}
        = h "Аудитория #{grid.name} (#{grid.building.name})"
        .closebutton
          = link_to_remote image_tag('close_16.ico'), :url => classrooms_grid_path(grid.id), :method => :delete
    %tr
      %th
      = render :partial => 'day_header', :collection => @days
    %tr
      %th
      - 6.times do
        = render :partial => 'week_header', :collection => @weeks
    = render :partial => 'time', :collection => @times, :locals => {:grid => grid.id}