%td
  %table
    %tr
      - if @pairs[day_counter][time].empty?
        %td
          .nopair
      - else
        - first_week_pairs = @pairs[day_counter][time][0]
        - second_week_pairs = @pairs[day_counter][time][1]
        - if first_week_pairs.empty?
          %td
            .nopair
        - elsif first_week_pairs.size > 2
          %td
            .error_pair
        - else
          - first_week_pairs.each do |f|
            %td
              .pair
                = f.id
                = f.lecturer
                = f.discipline
      %tr
        - if second_week_pairs.empty?
          %td
            .nopair
        - elsif second_week_pairs.size > 2
          %td
            .error_pair
        - else
          - second_week_pairs.each do |s|
            %td
              .pair
                = s.id
                = s.lecturer
                = s.discipline