- first_week_pairs = @pairs[day_counter][time][0]
- second_week_pairs = @pairs[day_counter][time][1]
%td
  .day_cell
  - if first_week_pairs.empty? && second_week_pairs.empty?
    .nopair
  - else
    %table
      %tr
      - if first_week_pairs.empty?
        %td
          .nopair
      - elsif first_week_pairs.size > 2
        %td
          .error_pair
      - else
        - @abs_span = 1
        - first_week_pairs.each do |f|
          - @span = 1
          - second_week_pairs.each do |sp|
            - if f.classroom_id == sp.classroom_id && f.charge_card_id == sp.charge_card_id
              - second_week_pairs.delete(sp)
              - @span = 2
              - @abs_span = 2
          %td{:rowspan => @span}
            .pair
              = "#{f.lecturer}<br />"
              = "#{f.discipline}<br />"
              = "Ауд. #{f.classroom.name} (#{f.classroom.building.name})<br />"
      %tr
      - if second_week_pairs.empty? && @abs_span == 1
        %td
          .nopair
      - else
        - second_week_pairs.each do |s|
          %td
            .pair
              = "#{s.lecturer}<br />"
              = "#{s.discipline}<br />"
              = "Ауд. #{s.classroom.name} (#{s.classroom.building.name})<br />"