- both_week_pairs = @pairs[day_counter][time][0]
- first_week_pairs = @pairs[day_counter][time][1]
- second_week_pairs = @pairs[day_counter][time][2]
%td
  - if both_week_pairs.empty? && first_week_pairs.empty? && second_week_pairs.empty?
    .nopair
  - else
    %table{:class => 'daycell'}
      - if both_week_pairs.size == 1
        %tr{:rowspan => 2}
          - both_week_pairs.each do |b|
            - if b[1] == 0
              %td{:colspan => 2}
                = render 'pair', :p => b[0]
            - elsif b[1] == 1
              %td
                = render 'pair', :p => b[0]
              %td
                .nopair
            - elsif b[1] == 2
              %td
                .nopair
              %td
                = render 'pair', :p => b[0]     
      - else
        %tr
          - if first_week_pairs.empty?
            %td{:colspan => 2}
              .nopair
          - elsif first_week_pairs.size > 2
            %td{:colspan => 2}
              .error_pair
          - elsif first_week_pairs.size == 2
            - first_week_pairs.each do |f|
              %td
                = render 'pair', :p => f[0]
          - elsif first_week_pairs.size == 1
            - first_week_pairs.each do |f|
              - if f[1] == 0
                %td{:colspan => 2}
                  = render 'pair', :p => f[0]
              - elsif f[1] == 1
                %td
                  = render 'pair', :p => f[0]
                %td
                  .nopair
              - elsif f[1] == 2
                %td
                  .nopair
                %td
                  = render 'pair', :p => f[0]
        %tr
          - if second_week_pairs.empty?
            %td{:colspan => 2}
              .nopair
          - elsif second_week_pairs.size > 2
            %td{:colspan => 2}
              .error_pair
          - elsif second_week_pairs.size == 2
            - second_week_pairs.each do |f|
              %td
                = render 'pair', :p => f[0]
          - elsif second_week_pairs.size == 1
            - second_week_pairs.each do |f|
              - if f[1] == 0
                %td{:colspan => 2}
                  = render 'pair', :p => f[0]
              - elsif f[1] == 1
                %td
                  = render 'pair', :p => f[0]
                %td
                  .nopair
              - elsif f[1] == 2
                %td
                  .nopair
                %td
                  = render 'pair', :p => f[0]