- both_week_pairs = @pairs[day_counter][time_counter][0]
- first_week_pairs = @pairs[day_counter][time_counter][1]
- second_week_pairs = @pairs[day_counter][time_counter][2]
%td
  - if both_week_pairs.empty? && first_week_pairs.empty? && second_week_pairs.empty?
    .nopair
  - else
    .daycellcontainer{:title => day + ", пара в " + time}
      %table{:class => 'daycell'}
        - if both_week_pairs.size == 1
          %tr
            - both_week_pairs.each do |b|
              - if b[1] == 0
                %td{:colspan => 2, :rowspan => 2}
                  = render 'pair', :p => b[0]
              - elsif b[1] == 1
                %td{:rowspan => 2}
                  = render 'pair', :p => b[0]
                %td.empty{:rowspan => 2}
              - elsif b[1] == 2
                %td.empty{:rowspan => 2}
                %td{:rowspan => 2}
                  = render 'pair', :p => b[0]
          %tr
        - else
          %tr
            - if first_week_pairs.empty?
              %td.empty{:colspan => 2}
            - elsif first_week_pairs.size > 2
              %td{:colspan => 2}
                .error_pair
            - elsif first_week_pairs.size == 2
              - first_week_pairs.each do |f|
                %td
                  = render 'pair', :p => f[0]
            - elsif first_week_pairs.size == 1
              - first_week_pairs.each do |f|
                - if f[1] == 0
                  %td{:colspan => 2}
                    = render 'pair', :p => f[0]
                - elsif f[1] == 1
                  %td
                    = render 'pair', :p => f[0]
                  %td.empty
                - elsif f[1] == 2
                  %td.empty
                  %td
                    = render 'pair', :p => f[0]
          %tr
            - if second_week_pairs.empty?
              %td.empty{:colspan => 2}
            - elsif second_week_pairs.size > 2
              %td{:colspan => 2}
                .error_pair
            - elsif second_week_pairs.size == 2
              - second_week_pairs.each do |f|
                %td
                  = render 'pair', :p => f[0]
            - elsif second_week_pairs.size == 1
              - second_week_pairs.each do |f|
                - if f[1] == 0
                  %td{:colspan => 2}
                    = render 'pair', :p => f[0]
                - elsif f[1] == 1
                  %td
                    = render 'pair', :p => f[0]
                  %td.empty
                - elsif f[1] == 2
                  %td.empty
                  %td
                    = render 'pair', :p => f[0]