= stylesheet_link_tag 'terminal'
= javascript_include_tag 'terminal'
.numpad
  .left_nest
    .number{:id => "1"}
      = "1"
  .middle_nest
    .number{:id => "2"}
      = "2"
  .right_nest
    .number{:id => "3"}
      = "3"
  .left_nest
    .number{:id => "4"}
      = "4"
  .middle_nest
    .number{:id => "5"}
      = "5"
  .right_nest
    .number{:id => "6"}
      = "6"
  .left_nest
    .number{:id => "7"}
      = "7"
  .middle_nest
    .number{:id => "8"}
      = "8"
  .right_nest
    .number{:id => "9"}
      = "9"
  .left_nest
    .number
  .middle_nest
    .number{:id => "0"}
      = "0"
  .right_nest
    .clear
      = "C"
  .dummy_div
.group_name_terminal
  %span Тестовый режим. Доступно расписание только для 055 и 655 групп.
  .group_name_label_terminal
    %span
      =  "Номер группы"
  %input{:class => "group_name_input", :id => "group_name_input", :size => 15}