= stylesheet_link_tag 'terminal'
= javascript_include_tag 'terminal'
.numpad
  .left_nest
    .number{:id => "1"}
      = "1"
  .middle_nest
    .number{:id => "2"}
      = "2"
  .right_nest
    .number{:id => "3"}
      = "3"
  .left_nest
    .number{:id => "4"}
      = "4"
  .middle_nest
    .number{:id => "5"}
      = "5"
  .right_nest
    .number{:id => "6"}
      = "6"
  .left_nest
    .number{:id => "7"}
      = "7"
  .middle_nest
    .number{:id => "8"}
      = "8"
  .right_nest
    .number{:id => "9"}
      = "9"
  .left_nest
    .clear
      = "C"
  .middle_nest
    .number{:id => "0"}
      = "0"
  .right_nest
    .backspace
      = "←"
  .dummy_div

.group_name
  %span{:style => "font-size: 120%; color: #330000;"} Тестовый режим.<br/>Доступно расписание только для 055 и 655 групп.
  .group_name_label_terminal
    %span
      =  "Номер группы"
  %input{:class => "group_name_input", :id => "group_name_input_terminal", :size => 15}
  %div
    %button{:type => "button"} Показать расписание

#terminalhelp
  .helpbox
    .helpcontent
      %h1 Как пользоваться:
      %ol
        %li Начните набирать на цифровой панели номер интересующей Вас группы, не менее двух цифр (например, [0] и [5]);
        %li Под полем ввода (справа от цифровой панели) появится список всех подходящих групп. Продолжайте ввод, чтобы отфильтровать ненужные;
        %li Нажмите на интересующую Вас группу в списке, чтобы просмотреть её расписание;
        %li При неверном наборе воспользуйтесь клавишами сброса [С] и удаления последнего символа [←].
  .helpbox
    .helpcontent
      %h1 Полезная информация
      %ul
        %li Чтобы посмотреть, что находится на странице ниже, нажмите на экран и, не отпуская, проведите палец вверх, как бы «оттаскивая» содержимое страницы вверх.
        %li Аналогично «оттащите» страницу вниз, чтобы посмотреть, что вверху.
        %li Через 60 секунд бездействия терминал вернётся на главную страницу. При необходимости изредка нажимайте на экран.
        %li Если что-то с терминалом случилось — обращайтесь в кабинет 436 главного корпуса или по телефону 394-604.