%td{ :id => "td#{@container}", :colspan => "2" }  
  .receiver{ :id => "container#{@container}", :grid_id => "#{@grid}", :week_number => "#{@week}", :day_of_the_week => "#{@day_of_the_week}", :pair_number => "#{@pair_number}" }