- grid_id = "grid_#{h(grid.id)}"
.grid{:id => "#{grid_id}"}
  %table
    %tr
      %th{:colspan => 13}
        = "Аудитория #{grid.name} (#{grid.building.name}). Вместимость: #{grid.capacity ? grid.capacity.to_s + ' человек.' : 'не указана.'} "
        .closebutton{:class => "grid_close", :grid_id => "#{grid.id}"}
    %tr
      %th
      = render :partial => 'day_header', :collection => @days
    %tr
      %th
      - 6.times do
        = render :partial => 'week_header', :collection => @weeks
    = render :partial => 'time', :collection => @times, :locals => {:grid => grid.id}