.grid{:id => "grid#{h(grid.id)}"}
  %table
    %tr
      %th{:colspan => 13}
        = h "Аудитория #{grid.name} (#{grid.building.name})"
    %tr
      = render :partial => 'day_header', :collection => @days
    %tr
    - 6.times do
      = render :partial => 'week_header', :collection => @weeks
    = render :partial => 'time', :collection => @times   