%td
  - id = "container_grid#{grid}_week#{week_counter + 1}_day#{day}_time#{time}"
  .receiver{:id => "#{id}"}
  = drop_receiving_element id, :url => pairs_path(:classroom => grid, :week => week_counter + 1, :day => day, :time => time, :container => id), :method => :put, :accept => 'pair', :with => "'pair=' + element.id", :hoverclass => 'hovered_receiver'