- pairs = classroom.pairs
%tr{:id => classroom.id, :class => 'classroom_row'}
  %th
    - capacity = classroom.capacity? ? " (#{classroom.capacity} Ñ‡ĞµĞ».)" : ''
    = "#{classroom.name}#{capacity}"
    = render :partial => 'day', :collection => @days, :locals => {:classroom => classroom, :pairs => pairs}

