.menu
  %ul
    %li
      = link_to 'Редактор расписания', classrooms_grids_path
    %li
      = link_to 'Факультеты', faculties_path
    %li
      = link_to 'Аудитории', classrooms_path
    %li
      = link_to 'Преподаватели', lecturers_path
    %li
      = link_to 'Выход', destroy_editor_session_path, :class => "red"