!!!
%html
  %head
    %title Система
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_tag 'jQuery.noConflict();'
    = javascript_include_tag :defaults
    = active_scaffold_includes
    = stylesheet_link_tag 'redmond/jquery-ui'
    = stylesheet_link_tag 'menu'
    = stylesheet_link_tag 'grid', :media => 'all'
    = stylesheet_link_tag 'group', :media => 'all'
  %body
    - if current_user
      - if current_user.admin?
        = render 'layouts/admin_menu'
      - if current_user.supervisor?
        = render 'layouts/supervisor_menu'
      - if current_user.editor?
        = render 'layouts/editor_menu'
      - if current_user.department?
        = render 'layouts/department_menu'
    = yield