!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title Система
    = javascript_include_tag :defaults
    = javascript_include_tag 'lightbox'
    = active_scaffold_includes
    = stylesheet_link_tag 'lightbox'
    = stylesheet_link_tag 'menu'
    = stylesheet_link_tag 'grid'
    
  %body
    .menu
      %ul
        %li
          = link_to 'Редактор расписания', classrooms_grids_path
        %li
          = link_to 'Факультеты', faculties_path
        %li
          = link_to 'Аудитории', classrooms_path
        %li
          = link_to 'Преподаватели', lecturers_path
    = yield