!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title Система
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'menu'
    = stylesheet_link_tag 'constructor'
  %body
    .menu
      %ul
        %li
          = link_to 'Аудитории', constructor_path
        %li
          = link_to 'Преподаватели', constructor_path
        %li
          = link_to 'Группы', constructor_path
  = yield