!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title Система
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'menu'
    = stylesheet_link_tag 'constructor'
  %body
    .menu
      %ul
        %li
          = link_to 'Аудитории', classrooms_constructors_path
        %li
          = link_to 'Преподаватели', lecturers_constructors_path
        %li
          = link_to 'Группы', groups_constructors_path
    = yield