<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Система обработки данных долгосрочных целевых программ</title>
 <%= javascript_include_tag :defaults %>
 <%= javascript_include_tag 'builder' %>
 <%= javascript_include_tag 'portal' %>
 <%= stylesheet_link_tag 'menu' %>
 <%= stylesheet_link_tag 'default' %>
 <%= stylesheet_link_tag 'page' %>
</head>
<body>
  <div class="menu">
     <ul>
       <li><%= link_to 'Аудитории', show_classrooms_schedule_pairs_path %></li>
       <li><%= link_to 'Группы', show_groups_schedule_pairs_path %></li>
       <li><%= link_to 'Преподаватели', show_lecturers_schedule_pairs_path %></li>
     </ul>
  </div>
<%= yield %>

</body>
</html>